.app-container {
  align-items: flex-start;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: 60px;
}

.main-content {
  width: 1080px;
  display: block;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.pokedex-title {
  color: var(--marine);
  padding: 20px 0;
}

.cards-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}